<ion-header>
  <ion-toolbar>
    
    <ion-title>Restock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6">
          <ion-input [(ngModel)]="newEntry"  type="number" placeholder="Enter new entry"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="2.5">
          <ion-button (click)="restock()" fill="clear"><b>Restock</b></ion-button>       
          <ion-button (click)="cancel()" fill="clear"><b>Cancel</b></ion-button>
        </ion-col>
      </ion-row>
    
  </ion-grid>
   
  </ion-item>
  <ion-list>
    <div *ngFor="let item of listItems">
      <ion-item button name="Pants" (click)="itemClick(item.name)">
        <ion-label>{{item.name}}</ion-label>  
        <ion-label slot="end">{{item.quantity}}</ion-label>
      </ion-item>
    </div>
    
    
  </ion-list>

</ion-content>
